@tailwind base;
@tailwind components;
@tailwind utilities;

/* banner style */
.bannerGradient {
  background: rgb(29, 35, 42);
  background: linear-gradient(
    180deg,
    rgb(29, 35, 42) 0%,
    rgba(255, 255, 255, 0) 15%,
    rgba(29, 35, 42, 0.904) 65%,
    rgba(255, 255, 255, 1) 3900%
  );
}

.bannerImageGradient {
  background: rgb(30, 36, 43);
  background: linear-gradient(
    90deg,
    rgba(30, 36, 43, 0.26094187675070024) 100%,
    rgba(59, 101, 122, 0) 100%
  );
}

.playingBgGradinet {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8631827731092436) 22%,
    rgba(30, 36, 43, 0) 35%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8631827731092436) 22%,
    rgba(30, 36, 43, 0) 35%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8631827731092436) 22%,
    rgba(30, 36, 43, 0) 35%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1e242b",GradientType=1);
}

/* slider arrow styles */
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev {
  left: 93% !important;
  top: 72% !important;
  transform-origin: left center;
  font-size: 10px;
}
.swiper-button-next {
  right: 5% !important;
  top: 80% !important;
  transform-origin: left center;
}
